<div>
    <label *ngFor="let filter of filtersList">
        / {{ filter.filterName }}
    </label>  
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let filter of filtersList"><a href="#">{{ filter.filterName }}</a></li>
    </ol>
</nav>

